.images{
    display: flex;
    gap:30px;
    overflow: hidden;
    align-items: center;
    scroll-snap-type: x mandatory;
}
.image{
    /* flex-basis: 31%; */
    flex-basis: calc(33.4% - 30px);
scroll-snap-align: center;
    flex-shrink: 0;
}
@media (max-width:978px) {
.image{
    flex-basis: calc(50% - 30px);
}
}
@media (max-width:500px) {
    .image{
        flex-basis: calc(100% - 30px);
    }
    .images{
        justify-content: center;
    }
    }
.image img{
    max-width: 100%;
    border-radius: 6px;

}
.sliderWrapper {
  padding: 50px ;
  background: linear-gradient(135deg, #0f172a 0%, #0a1f14 100%);
}
@media(max-width:791px){
    .sliderWrapper {
        padding:0px
    }
}
.slide {
  padding: 0 10px;
}

.slide img {
  width: 100%;
  border-radius: 6px;
}
